@mixin fonts(
  $font: "OpenSans",
  $font-family: "Open Sans",
  $font-style: normal,
  $font-weight: normal,
  $font-display: ""
) {
  @font-face {
    src: url($font + ".eot");
    src: url($font + ".eot?#iefix") format("embedded-opentype"),
      url($font + ".svg#" + $font) format("svg"),
      url($font + ".ttf") format("truetype"),
      url($font + ".woff") format("woff"), url($font + ".woff2") format("woff2");
    font-family: $font-family;
    font-style: $font-style;
    font-weight: $font-weight;

    @if $font-display != "" {
      font-display: unquote($font-display);
    }
  }
}

@include fonts("valonik-valonik-regular-400", "valonik-valonik-regular-400");
@include fonts("valonik-valonik-semibold-600", "valonik-valonik-semibold-600");

$bp-md: "only screen and (min-width: 992px)";
$padding: 30px;

$black: #000000;
$white: #ffffff;
$yellow: #fcff00;
$red: #ff0000;
$blue: #0000ff;

$titleFontFamily: "valonik-valonik-semibold-600";
$fontFamily: "valonik-valonik-regular-400";
$titleFontSize: 33px;
$titleFontSizeMobile: 33px;
$titleLineHeight: 33px;
$titleLineHeightMobile: 33px;
// $h2FontSize: 50px;
// $h2FontSizeMobile: 40px;
// $h2LineHeight: 50px;
// $h2LineHeightMobile: 40px;

$maxWidth: 1180px;
$spacerSm: 40px;
$spacerMd: 80px;
$fontSize: 16px;
$borderRadius: 5px;
$boxShadow: 0 4px 15px rgba(43, 126, 179, 0.2);
$buttonMinHeight: 52px;
$checkBoxWidth: 20px;

$logoOnSideWidth: 200px;

$maxWidthFormContainer: 830px;

$formTextColor: #888888;

$marginForCards: 40px;

* {
  box-sizing: border-box;
}

div,
header {
  display: flex;
  font-family: $fontFamily;
}

body,
html,
h1,
h2 {
  padding: 0;
  margin: 0;
  border: 0;
}

body {
  font-family: $fontFamily;
  font-size: $fontSize;
  color: $white;
  line-height: 25px;
  background: $black;

  &.no-scroll {
    overflow: hidden;
  }
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  .content {
    max-width: $maxWidth;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;

    &.inline {
      flex-flow: row wrap;
    }
  }
}

// ----------------- Banner ------------------

.banner {
  position: relative;
  .image {
    width: 100%;

    img {
      width: 100%;
    }
  }

  .logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;

    img {
      height: 100%;
      padding: $padding;
    }
  }
}

// ------------- Logo on the side ------------

.relative-for-logo {
  position: relative;
}

.logo-on-side {
  position: absolute;
  height: $logoOnSideWidth;
  width: $logoOnSideWidth;
  right: $padding;
}

// ------------- Title --------------

.title {
  font-family: $titleFontFamily;
  font-size: $titleFontSizeMobile;
  line-height: $titleLineHeightMobile;
  color: $red;

  &.white {
    color: $white;
  }

  &.alternative-font {
    font-family: $fontFamily;
    color: $black;
  }

  @media #{$bp-md} {
    font-size: $titleFontSize;
    line-height: $titleLineHeight;
  }
}

.title-with-background {
  background: $yellow;
  padding: calc($padding / 2);

  &.blue {
    background: $blue;
  }
}

.text {
  text-align: center;
}

// ------------- UI Stuff ---------------

.arrow {
  width: 50px;
  height: 50px;
  margin: 0 calc($padding * 2);
}

.share {
  width: 60px;
  height: 60px;
}

// ---------------- Form ---------------

.form-container {
  background: $yellow;
  max-width: $maxWidthFormContainer;

  form {
    display: flex;
    flex-flow: row wrap;

    .form-box {
      width: 50%;
      padding: $padding;
      align-items: center;
    }

    .input {
      background: transparent;
      border: 1px solid $formTextColor;
      border-radius: 0;
      padding: calc($padding / 2);
      width: 100%;
      min-height: $buttonMinHeight;
    }

    .checkbox {
      appearance: none;
      background: transparent;
      border: 1px solid $formTextColor;
      border-radius: 0;
      cursor: pointer;
      width: $checkBoxWidth;
      height: $checkBoxWidth;

      &:checked {
        background-color: $formTextColor;
      }
    }

    button {
      background: $red;
      color: $white;
      border: 0;
      border-radius: 0;
      width: 100%;
      min-height: $buttonMinHeight;
      text-align: left;
      padding: calc($padding / 2);
      font-family: $fontFamily;
      cursor: pointer;
    }

    label {
      color: $formTextColor;
      font-size: x-small;
      cursor: pointer;
    }
  }
}

// -------------- Slider ----------------

$marginForSliderContainer: calc($padding * 2);
$sliderDotWidth: 10px;

.slider-container {
  display: flex;
  align-items: center;
  width: 100%;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 100%;
  max-width: $maxWidth;
  padding: $marginForSliderContainer 0;

  .hide {
    width: calc(100% / 3);
    padding: 0 $marginForCards;
    visibility: hidden;
  }

  .card {
    position: absolute;
    top: $marginForSliderContainer;
    width: calc(100% / 3);
    padding: 0 $marginForCards;
    opacity: 0.5;
    transition: opacity 0.3s, left 0.3s;

    &.active {
      opacity: 1;
      transform: scale(1.2);
    }

    img {
      width: 100%;
    }
  }

  button.prev,
  button.next {
    background-color: $yellow;
    color: $black;
    border: none;
    padding: 10px;
    width: 15px;
    height: 15px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;
    opacity: 0.6;
    transition: opacity 0.3s;
    z-index: 1;

    &:hover {
      opacity: 1;
    }

    &.prev {
      left: 0;
    }

    &.next {
      right: 0;
    }
  }
}

.slider-dots {
  .dot {
    background: $blue;
    width: $sliderDotWidth;
    height: $sliderDotWidth;
    border-radius: $sliderDotWidth;
    margin: calc($padding / 3);

    &.active {
      background: $red;
    }
  }
}

// ---------------- Spacer ------------------

.spacer-sm {
  width: 100%;
  height: $spacerSm;

  &.desktop {
    display: none;

    @media #{$bp-md} {
      display: flex;
    }
  }
}
