@font-face {
  src: url("valonik-valonik-regular-400.eot");
  src: url("valonik-valonik-regular-400.eot?#iefix") format("embedded-opentype"), url("valonik-valonik-regular-400.svg#valonik-valonik-regular-400") format("svg"), url("valonik-valonik-regular-400.ttf") format("truetype"), url("valonik-valonik-regular-400.woff") format("woff"), url("valonik-valonik-regular-400.woff2") format("woff2"), url("valonik-valonik-regular-400.otf") format("opentype");
  font-family: "valonik-valonik-regular-400";
  font-style: normal;
  font-weight: normal;
}
@font-face {
  src: url("valonik-valonik-semibold-600.eot");
  src: url("valonik-valonik-semibold-600.eot?#iefix") format("embedded-opentype"), url("valonik-valonik-semibold-600.svg#valonik-valonik-semibold-600") format("svg"), url("valonik-valonik-semibold-600.ttf") format("truetype"), url("valonik-valonik-semibold-600.woff") format("woff"), url("valonik-valonik-semibold-600.woff2") format("woff2"), url("valonik-valonik-semibold-600.otf") format("opentype");
  font-family: "valonik-valonik-semibold-600";
  font-style: normal;
  font-weight: normal;
}
@font-face {
  src: url("helvetica-neue-regular.eot");
  src: url("helvetica-neue-regular.eot?#iefix") format("embedded-opentype"), url("helvetica-neue-regular.svg#helvetica-neue-regular") format("svg"), url("helvetica-neue-regular.ttf") format("truetype"), url("helvetica-neue-regular.woff") format("woff"), url("helvetica-neue-regular.woff2") format("woff2"), url("helvetica-neue-regular.otf") format("opentype");
  font-family: "helvetica-neue-regular";
  font-style: normal;
  font-weight: normal;
}
@font-face {
  src: url("druktexttrial-medium.eot");
  src: url("druktexttrial-medium.eot?#iefix") format("embedded-opentype"), url("druktexttrial-medium.svg#druktexttrial-medium") format("svg"), url("druktexttrial-medium.ttf") format("truetype"), url("druktexttrial-medium.woff") format("woff"), url("druktexttrial-medium.woff2") format("woff2"), url("druktexttrial-medium.otf") format("opentype");
  font-family: "druktexttrial-medium";
  font-style: normal;
  font-weight: normal;
}
* {
  box-sizing: border-box;
}

div,
header {
  display: flex;
  font-family: "helvetica-neue-regular";
}

body,
html,
h1,
h2 {
  padding: 0;
  margin: 0;
  border: 0;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

body {
  font-family: "helvetica-neue-regular";
  font-size: 16px;
  color: #ffffff;
  line-height: 25px;
  background: #000000;
}
body.no-scroll {
  overflow: hidden;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}
.page-wrapper .content {
  padding: 0 15px;
  max-width: 1180px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
@media only screen and (min-width: 992px) {
  .page-wrapper .content {
    padding: 0;
  }
}
.page-wrapper .content.narrow {
  max-width: 780px;
}
.page-wrapper .content.inline {
  flex-flow: row wrap;
  justify-content: center;
}
.page-wrapper .content.inline.no-wrap {
  flex-flow: row nowrap;
  justify-content: space-between;
  width: 100%;
}
.page-wrapper .content.from-bottom {
  align-items: end;
}
.page-wrapper .content.negative-margin {
  margin-top: -6px;
  z-index: 1;
}
.page-wrapper .content .padding-bottom {
  padding-bottom: 10px;
}

.no-mobile {
  display: none;
}
@media only screen and (min-width: 992px) {
  .no-mobile {
    display: flex;
  }
}

.kapitein {
  max-width: 165px;
}

.banner {
  position: relative;
}
.banner .image {
  width: 100%;
  min-height: 200px;
}
@media only screen and (min-width: 768px) {
  .banner .image {
    min-height: auto;
    max-height: 400px;
  }
}
.banner .image img {
  width: 100%;
  object-fit: cover;
}
.banner .logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 25%;
}
@media only screen and (min-width: 992px) {
  .banner .logo {
    height: 40%;
  }
}
.banner .logo img {
  height: 100%;
  transition: transform 0.1s linear;
}

.relative-for-logo {
  display: none;
  position: relative;
}
@media only screen and (min-width: 992px) {
  .relative-for-logo {
    display: flex;
  }
}

.logo-on-side {
  display: none;
}
.logo-on-side.in-view img {
  animation: rotatecircle 0.8s ease-in;
}
@media only screen and (min-width: 992px) {
  .logo-on-side {
    display: flex;
    position: absolute;
    height: 200px;
    width: 200px;
    right: 30px;
  }
}

.title {
  text-align: center;
  font-family: "druktexttrial-medium";
  font-size: 25px;
  line-height: 25px;
  color: #ff0000;
}
.title.white {
  color: #ffffff;
}
.title.black {
  color: #000000;
}
.title.yellow {
  color: #ffe600;
}
.title.alternative-font {
  font-family: "helvetica-neue-regular";
  color: #000000;
}
.title.big {
  font-size: 37px;
  line-height: 37px;
}
@media only screen and (min-width: 992px) {
  .title.big {
    font-size: 45px;
    line-height: 45px;
  }
}
@media only screen and (min-width: 992px) {
  .title {
    font-size: 33px;
    line-height: 33px;
  }
}

.title-with-background {
  background: #ffe600;
  padding: 15px 30px;
  margin-top: 10px;
  font-size: 25px;
  line-height: 25px;
}
.title-with-background.blue {
  background: #0000ff;
}
.title-with-background.red {
  background: #ff0000;
}
@media only screen and (min-width: 992px) {
  .title-with-background {
    font-size: 33px;
    line-height: 33px;
  }
}

.relative {
  position: relative;
}

.button-circle {
  position: absolute;
  left: -35%;
  top: -87%;
  width: 165%;
  z-index: -1;
}

.text {
  text-align: center;
}

.arrow {
  width: 50px;
  height: 50px;
  margin: 0 60px;
  animation: upanddown 1s infinite alternate;
}

.share {
  width: 60px;
  height: 60px;
}

.text p {
  font-family: Helvetica;
}

.form-container {
  background: #ffe600;
  max-width: 780px;
}
.form-container form {
  display: flex;
  flex-flow: row wrap;
}
.form-container form .form-box {
  width: 100%;
  padding: 15px;
  align-items: center;
}
@media only screen and (min-width: 992px) {
  .form-container form .form-box {
    width: 50%;
    padding: 30px;
  }
}
.form-container form .input {
  background: transparent;
  border: 1px solid #888888;
  border-radius: 0;
  padding: 15px;
  width: 100%;
  min-height: 52px;
}
.form-container form .checkbox {
  appearance: none;
  background: transparent;
  border: 1px solid #888888;
  border-radius: 0;
  cursor: pointer;
  width: 20px;
  height: 20px;
}
.form-container form .checkbox:checked {
  background-color: #888888;
}
.form-container form button {
  background: #ff0000;
  color: #ffffff;
  border: 0;
  border-radius: 0;
  width: 100%;
  min-height: 52px;
  text-align: left;
  padding: 15px;
  font-family: "helvetica-neue-regular";
  cursor: pointer;
}
.form-container form label {
  color: #888888;
  font-size: x-small;
  cursor: pointer;
}

.slider-container {
  width: 200%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  margin: auto;
  overflow: hidden;
  position: relative;
  max-width: 1180px;
  padding: 60px 0;
}
@media only screen and (min-width: 992px) {
  .slider-container {
    width: 100%;
    left: 0;
    transform: none;
  }
}
.slider-container .hide {
  width: 33.3333333333%;
  padding: 0 40px;
  visibility: hidden;
}
.slider-container .card {
  position: absolute;
  top: 60px;
  width: 33.3333333333%;
  padding: 0 40px;
  opacity: 0.5;
  transition: opacity 0.3s, left 0.3s;
}
.slider-container .card.active {
  opacity: 1;
  transform: scale(1.2);
}
.slider-container .card img {
  width: 100%;
}
.slider-container button.prev,
.slider-container button.next {
  background-color: #ffe600;
  color: #000000;
  border: none;
  padding: 10px;
  width: 15px;
  height: 15px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 18px;
  opacity: 0.6;
  transition: opacity 0.3s;
  z-index: 1;
}
.slider-container button.prev:hover,
.slider-container button.next:hover {
  opacity: 1;
}
.slider-container button.prev.prev,
.slider-container button.next.prev {
  right: 66.6666666667%;
}
@media only screen and (min-width: 992px) {
  .slider-container button.prev.prev,
  .slider-container button.next.prev {
    right: auto;
    left: 0;
  }
}
.slider-container button.prev.next,
.slider-container button.next.next {
  left: 66.6666666667%;
}
@media only screen and (min-width: 992px) {
  .slider-container button.prev.next,
  .slider-container button.next.next {
    left: auto;
    right: 0;
  }
}

.slider-dots .dot {
  background: #0000ff;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  margin: 10px;
}
.slider-dots .dot.active {
  background: #ff0000;
}

.spacer-sm {
  width: 100%;
  height: 40px;
}
.spacer-sm.desktop {
  display: none;
}
@media only screen and (min-width: 992px) {
  .spacer-sm.desktop {
    display: flex;
  }
}

@keyframes reveal {
  0% {
    opacity: 0;
    width: 0px;
  }
  20% {
    opacity: 1;
    width: 0px;
  }
  30% {
    width: 355px;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    width: 355px;
  }
}
@keyframes showup {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes slidein {
  0% {
    transform: translate(-800px);
  }
  80% {
    transform: translate(100px);
  }
  100% {
    transform: translate(0);
  }
}
@keyframes slideintight {
  0% {
    transform: translateX(-100px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes upanddown {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-20px);
  }
}
@keyframes rotatecircle {
  0% {
    transform: rotate(0) scale(0);
  }
  80% {
    transform: rotate(400deg);
  }
  90% {
    transform: rotate(400deg);
  }
  100% {
    transform: rotate(360deg) scale(1);
  }
}
.title.inline.content .title.in-view:first-child {
  animation: showup 1s ease-in-out;
}
.title.inline.content .title.in-view:last-child {
  animation: slidein 1s ease-in-out;
}

.slide-in-left.in-view {
  animation: slideintight 300ms reverse ease-in;
}

.slide-in-right.in-view {
  animation: slideintight 300ms ease-in;
}

/*# sourceMappingURL=style.css.map */
