@mixin fonts(
  $font: "OpenSans",
  $font-family: "Open Sans",
  $font-style: normal,
  $font-weight: normal,
  $font-display: ""
) {
  @font-face {
    src: url($font + ".eot");
    src: url($font + ".eot?#iefix") format("embedded-opentype"),
      url($font + ".svg#" + $font) format("svg"),
      url($font + ".ttf") format("truetype"),
      url($font + ".woff") format("woff"), url($font + ".woff2") format("woff2"),
      url($font + ".otf") format("opentype");
    font-family: $font-family;
    font-style: $font-style;
    font-weight: $font-weight;

    @if $font-display != "" {
      font-display: unquote($font-display);
    }
  }
}

@include fonts("valonik-valonik-regular-400", "valonik-valonik-regular-400");
@include fonts("valonik-valonik-semibold-600", "valonik-valonik-semibold-600");
@include fonts("helvetica-neue-regular", "helvetica-neue-regular");
@include fonts("druktexttrial-medium", "druktexttrial-medium");

$bp-md: "only screen and (min-width: 992px)";
$bp-sm: "only screen and (min-width: 768px)";
$padding: 30px;

$black: #000000;
$white: #ffffff;
$yellow: #ffe600;
$red: #ff0000;
$blue: #0000ff;

$titleFontFamily: "druktexttrial-medium";
$fontFamily: "helvetica-neue-regular";
$titleFontSize: 33px;
$titleFontSizeMobile: 25px;
$titleLineHeight: 33px;
$titleLineHeightMobile: 25px;
// $h2FontSize: 50px;
// $h2FontSizeMobile: 40px;
// $h2LineHeight: 50px;
// $h2LineHeightMobile: 40px;

$maxWidth: 1180px;
$narrowWidth: 780px;
$spacerSm: 40px;
$spacerMd: 80px;
$fontSize: 16px;
$borderRadius: 5px;
$boxShadow: 0 4px 15px rgba(43, 126, 179, 0.2);
$buttonMinHeight: 52px;
$checkBoxWidth: 20px;

$logoOnSideWidth: 200px;

$maxWidthFormContainer: 780px;

$formTextColor: #888888;

$marginForCards: 40px;

$sliderContainerWidth: 200%;

* {
  box-sizing: border-box;
}

div,
header {
  display: flex;
  font-family: $fontFamily;
}

body,
html,
h1,
h2 {
  padding: 0;
  margin: 0;
  border: 0;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

body {
  font-family: $fontFamily;
  font-size: $fontSize;
  color: $white;
  line-height: 25px;
  background: $black;

  &.no-scroll {
    overflow: hidden;
  }
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;

  .content {
    padding: 0 calc($padding / 2);
    @media #{$bp-md} {
      padding: 0;
    }

    max-width: $maxWidth;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;

    &.narrow {
      max-width: $narrowWidth;
    }

    &.inline {
      flex-flow: row wrap;
      justify-content: center;

      &.no-wrap {
        flex-flow: row nowrap;
        justify-content: space-between;
        width: 100%;
      }
    }

    &.from-bottom {
      align-items: end;
    }

    &.negative-margin {
      margin-top: calc($padding * -0.2);
      z-index: 1;
    }

    .padding-bottom {
      padding-bottom: calc($padding / 3);
    }
  }
}

.no-mobile {
  display: none;

  @media #{$bp-md} {
    display: flex;
  }
}

// Kapitein image

.kapitein {
  max-width: 165px;
}

// ----------------- Banner ------------------

.banner {
  position: relative;
  .image {
    width: 100%;
    min-height: 200px;

    @media #{$bp-sm} {
      min-height: auto;
      max-height: 400px;
    }

    img {
      width: 100%;
      object-fit: cover;
    }
  }

  .logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 25%;

    @media #{$bp-md} {
      height: 40%;
    }

    img {
      height: 100%;
      // padding: $padding * 1.5;
      // animation: rotatecircle 1s ease-in-out;
      transition: transform 0.1s linear;
    }
  }
}

// ------------- Logo on the side ------------

.relative-for-logo {
  display: none;

  @media #{$bp-md} {
    display: flex;
  }

  position: relative;
}

.logo-on-side {
  display: none;

  &.in-view img {
    animation: rotatecircle 0.8s ease-in;
  }

  @media #{$bp-md} {
    display: flex;
    position: absolute;
    height: $logoOnSideWidth;
    width: $logoOnSideWidth;
    right: $padding;
  }
}

// ------------- Title --------------

.title {
  text-align: center;
  font-family: $titleFontFamily;
  font-size: $titleFontSizeMobile;
  line-height: $titleLineHeightMobile;
  color: $red;

  &.white {
    color: $white;
  }

  &.black {
    color: $black;
  }

  &.yellow {
    color: $yellow;
  }

  &.alternative-font {
    font-family: $fontFamily;
    color: $black;
  }

  &.big {
    font-size: $titleFontSizeMobile + 12px;
    line-height: $titleLineHeightMobile + 12px;

    @media #{$bp-md} {
      font-size: $titleFontSize + 12px;
      line-height: $titleLineHeight + 12px;
    }
  }

  @media #{$bp-md} {
    font-size: $titleFontSize;
    line-height: $titleLineHeight;
  }
}

.title-with-background {
  background: $yellow;
  padding: calc($padding / 2) $padding;
  margin-top: calc($padding / 3);
  font-size: $titleFontSizeMobile;
  line-height: $titleLineHeightMobile;

  &.blue {
    background: $blue;
  }

  &.red {
    background: $red;
  }

  @media #{$bp-md} {
    font-size: $titleFontSize;
    line-height: $titleLineHeight;
  }
}

.text {
  text-align: center;
}

// ------------- UI Stuff ---------------

.arrow {
  width: 50px;
  height: 50px;
  margin: 0 calc($padding * 2);
  animation: upanddown 1s infinite alternate;
}

.share {
  width: 60px;
  height: 60px;
}

// ------ Text ------

.text p {
  font-family: Helvetica;
}

// ---------------- Form ---------------

.form-container {
  background: $yellow;
  max-width: $maxWidthFormContainer;

  form {
    display: flex;
    flex-flow: row wrap;

    .form-box {
      width: 100%;
      padding: calc($padding / 2);
      align-items: center;

      @media #{$bp-md} {
        width: 50%;
        padding: $padding;
      }
    }

    .input {
      background: transparent;
      border: 1px solid $formTextColor;
      border-radius: 0;
      padding: calc($padding / 2);
      width: 100%;
      min-height: $buttonMinHeight;
    }

    .checkbox {
      appearance: none;
      background: transparent;
      border: 1px solid $formTextColor;
      border-radius: 0;
      cursor: pointer;
      width: $checkBoxWidth;
      height: $checkBoxWidth;

      &:checked {
        background-color: $formTextColor;
      }
    }

    button {
      background: $red;
      color: $white;
      border: 0;
      border-radius: 0;
      width: 100%;
      min-height: $buttonMinHeight;
      text-align: left;
      padding: calc($padding / 2);
      font-family: $fontFamily;
      cursor: pointer;
    }

    label {
      color: $formTextColor;
      font-size: x-small;
      cursor: pointer;
    }
  }
}

// -------------- Slider ----------------

$marginForSliderContainer: calc($padding * 2);
$sliderDotWidth: 10px;

.slider-container {
  width: $sliderContainerWidth;
  left: 50%;
  transform: translateX(-50%);

  @media #{$bp-md} {
    width: 100%;
    left: 0;
    transform: none;
  }

  display: flex;
  align-items: center;
  margin: auto;
  overflow: hidden;
  position: relative;
  max-width: $maxWidth;
  padding: $marginForSliderContainer 0;

  .hide {
    width: calc(100% / 3);
    padding: 0 $marginForCards;
    visibility: hidden;
  }

  .card {
    position: absolute;
    top: $marginForSliderContainer;
    width: calc(100% / 3);
    padding: 0 $marginForCards;
    opacity: 0.5;
    transition: opacity 0.3s, left 0.3s;

    &.active {
      opacity: 1;
      transform: scale(1.2);
    }

    img {
      width: 100%;
    }
  }

  button.prev,
  button.next {
    background-color: $yellow;
    color: $black;
    border: none;
    padding: 10px;
    width: 15px;
    height: 15px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;
    opacity: 0.6;
    transition: opacity 0.3s;
    z-index: 1;

    &:hover {
      opacity: 1;
    }

    &.prev {
      right: calc(100% / 3 * 2);
      @media #{$bp-md} {
        right: auto;
        left: 0;
      }
    }

    &.next {
      left: calc(100% / 3 * 2);
      @media #{$bp-md} {
        left: auto;
        right: 0;
      }
    }
  }
}

.slider-dots {
  .dot {
    background: $blue;
    width: $sliderDotWidth;
    height: $sliderDotWidth;
    border-radius: $sliderDotWidth;
    margin: calc($padding / 3);

    &.active {
      background: $red;
    }
  }
}

// ---------------- Spacer ------------------

.spacer-sm {
  width: 100%;
  height: $spacerSm;

  &.desktop {
    display: none;

    @media #{$bp-md} {
      display: flex;
    }
  }
}

// -------------- Animations ----------------

@keyframes reveal {
  0% {
    opacity: 0;
    width: 0px;
  }
  20% {
    opacity: 1;
    width: 0px;
  }
  30% {
    width: 355px;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    width: 355px;
  }
}

@keyframes showup {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes slidein {
  0% {
    transform: translate(-800px);
  }

  80% {
    transform: translate(100px);
  }

  100% {
    transform: translate(0);
  }
}

@keyframes slideintight {
  0% {
    transform: translateX(-100px);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes upanddown {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-20px);
  }
}

@keyframes rotatecircle {
  0% {
    transform: rotate(0) scale(0);
  }

  80% {
    transform: rotate(400deg);
  }
  90% {
    transform: rotate(400deg);
  }

  100% {
    transform: rotate(360deg) scale(1);
  }
}

.title.inline.content {
  .title.in-view:first-child {
    animation: showup 1s ease-in-out;
  }

  .title.in-view:last-child {
    animation: slidein 1s ease-in-out;
  }
}

.slide-in-left.in-view {
  animation: slideintight 300ms reverse ease-in;
}

.slide-in-right.in-view {
  animation: slideintight 300ms ease-in;
}
